
/* ----------------------------------------------------------------------- Leaves ----------------------------------------------------------------- */

body {
	width: 100vw;
	height: 100vh;
	background: dimgray;
}

#canvas {
	width: 0vw;
	height: 0vh;
	background: pink;
}
#info {
	display: block;
	height: 1000vh;
	background: whitesmoke;
	color: black;
}
